docker
jinja2
jsonschema
# This does not built on the aarch64-windows runners yet, and is only needed for
# development so we'll just skip it for now.
PyGithub; sys_platform != "win32" or platform_machine != "aarch64"
PyYAML
# Undeclared dependency in docker 5.0 package.
six
# This is a transitive dependency that doesn't get picked up when running on
# modern Python. So include to force it in requirements.txt.
tomli
typing-extensions
zstandard
